.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* media query for full screen */
@media (min-width: 768px) {
  .homeContainer {
    height: 65vh;
  }
}
